.titulo-de-artigo {
    color: #040D12;
    line-height: 2;
    font-weight: bold;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-pagina {
    color: #040D12;
    line-height: 1.8;
    font-weight: bold;
    font-size: 25pt;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-subtitulo {
    color: #040D12;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    margin: 20px 50px;  
    background-color: #93B1A6; 
    font-family: Arial, Helvetica, sans-serif;
     
}

p {
    line-height: 1.2;
    text-align: justify;
    margin-bottom: 20px;
}

.paragrafo-cor {
    background-color: cadetblue;
    padding: 50px;
    border-radius: 20px;
}

.autor-do-artigo {
    color: #5C8374;
    font-weight: bold;
    font-style: italic;
    margin: 5px 0;
    
}

.indice {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    list-style:disc;
    padding: 20px;
}

.titulo-de-sobre-nos {
    color: #040D12;
    line-height: 1.5;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


.texto-sobre-nos {
    background-color: #5f9ea0;
    padding: 50px;
    border-radius: 20px;
    margin: 0;
}

p {
    background-color: #5f9ea0;
    padding: 50px;
    border-radius: 20px;
    margin: 0;
}


/* tirar a parte de cima com o irmao adjascente */

p + p{ 
    padding-top: 0;
    
  }

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
  }

a:active {
    color: #0000FF;
}

